/* Simple */
html,
body {
  margin: 0;
  background: black;
  overflow-x: hidden;
}

.preload-transitions {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.preload-transitions img,
.preload-transitions video {
  display: none;
}

body {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

/* magic box */

.box {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
}

.box .text-container {
  position: relative;
  z-index: 2;
  color: white;
  width: 80vw;
  display: block;
  font-size: 30px;
  padding: 0 5vw 30vh;
}

.box .text-container h2 {
  font-weight: 700;
  font-size: 5.5vw;
  margin: 0 0 1vw 0;
  padding: 0;
  line-height: 6vw;
}

.box .text-container p {
  font-size: 3vw;
  margin: 0;
}

.box img,
.box video {
  position: fixed;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition: all 1s;
}

.box.active img,
.box.active video {
  opacity: 1;
  transform: scale(1.05);
}

.box.active ~ .box img,
.box.active ~ .box video {
  opacity: 0;
}

.box-container {
  max-height: 100vh;
  overflow-x: hidden;
  -ms-scroll-snap-type: proximity;
  -ms-scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

.box-container:after {
  content: "";
  opacity: 0;
  transition: all 1s;
  position: fixed;
  background: black;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.box-container.dim-background:after {
  opacity: 0.3;
}
